.bgfon {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/908077b4-cf0a-43c3-b2c9-435fb990299b/0575f84c-3b70-4342-a5a1-320d374612b0/NL-en-20220829-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.buttonsHome {
    display: flex;
    position: absolute;
    top: 55%;
    /* font: 25px "Roboto Slab"; */
    margin-left: 43%;
    width: 250px;
    text-align: center;
}

.buttonAbout {
    background-color: #a2c046;
    color: #ffffff;
    padding: 18px 22px;
    border: none;
    /* font: 15px "Roboto"; */
    margin-right: 10%;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.buttonAbout1 {
    background-color: unset;
    color: #ffffff;
    padding: 18px 22px;
    border: none;
    /* font: 15px "Roboto"; */
    margin-right: 10%;
    background-color: #a3be4f;
    /* border: 1px solid silver; */
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.buttonAbout:hover {
    background-color: silver;
    /* border: 1px solid silver; */
}

.buttonAbout1:hover {
    background-color: silver;
    transition: 0.8s;
}

.homeImg {
    width: 100%;
}

.textAbove {
    position: absolute;
    top: 45%;
    text-transform: uppercase;
    color: #ffffff;
    /* font: 25px "Roboto Slab"; */
    margin-left: 34%;
    font-size: 25px;
    width: 500px;
    text-align: center;
    /* font: bold 24px/34px Helvetica, Sans-Serif; */
}

.slider {
    /* position: relative; */
    width: 100%;
    height: 600px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.sliderImg {
    position: absolute;
    width: 100%;
    height: 500px;
    transition: all 0.2s;
}

.sliderImgPrev {
    transform: translateX(-100%);
}

.sliderImgNext {
    transform: translateX(100%);
}

.fonf {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .68);
    width: 100%;
    height: 100%;
}

.font {
    width: 50%;
    font-size: 30px;
    margin-top: 80px;
    color: azure;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 450px;
    /* background-color: #3a3a3a; */
    padding: 10px 20px;
    box-sizing: border-box;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    color: rgb(6, 6, 6);
    width: 40%;
}

.contentImg {
    width: 25%;
}

.contentImg img {
    width: 100%;
    border-radius: 15px;
}

